Repository calmato/gran-book: changes, and which Codecov flags are due for each by the changed paths.
All: native, admin, api, native-gateway, admin-gateway, user-api, book-api

feat: implement inquiry entity
  api/internal/information/domain/inquiry/repository.go
  api/internal/information/domain/inquiry/validation.go
  api/internal/information/infrastructure/repository/database.go
  api/internal/information/infrastructure/repository/inquiry.go
  api/internal/information/infrastructure/repository/inquiry_test.go
  api/internal/information/infrastructure/validation/inquiry.go
  api/mock/information/domain/inquiry/repository.go
  api/mock/information/domain/inquiry/validation.go
  api/pkg/test/database.go
  api/pkg/test/env.go
  api/pkg/test/mock.go
Due: api

feat: implement create inquiry api
  api/internal/information/application/application.go
  api/internal/information/application/inquiry.go
  api/internal/information/application/inquiry_test.go
  api/internal/information/domain/inquiry/entity_test.go
  api/internal/information/interface/server/error.go
  api/internal/information/interface/server/error_test.go
  api/internal/information/interface/server/inquiry.go
  api/internal/information/interface/server/inquiry_test.go
  api/internal/information/interface/validation/inquiry.go
  api/internal/information/interface/validation/inquiry_test.go
  api/internal/information/interface/validation/validator.go
  api/internal/information/interface/validation/validator_test.go
  api/mock/information/application/application.go
  api/mock/information/interface/validation/validator.go
  api/mock/proto/information/inquiry_service_grpc.pb.go.go
  api/pkg/test/mock.go
Due: api

feat: setup information server
  api/cmd/information/main.go
  api/config/information/environment.go
  api/internal/information/cmd/exec.go
  api/internal/information/cmd/grpc.go
  api/internal/information/cmd/registry.go
Due: api

feat: update ci workflow
  .github/workflows/ci-service-for-all.yaml
  docker-compose.yaml
  infra/docker/api/information/Dockerfile
Due: none

test: BookContextのテストを記述する
  native/test/contexts/book.test.tsx
Due: native

feat: setup firebase emulator
  api/internal/user/infrastructure/repository/chat.go
  api/internal/user/infrastructure/repository/chat_test.go
  api/pkg/test/database.go
  api/pkg/test/env.go
  api/pkg/test/mock.go
  docker-compose.yaml
  infra/docker/infra/firebase/Dockerfile
  infra/firebase/.firebaserc
  infra/firebase/.gitignore
  infra/firebase/firebase.json
Due: api

feat: setup github actions
  .github/workflows/ci-service-for-all.yaml
  docker-compose.ci.yaml
Due: none

fix: lint
  api/pkg/test/database.go
Due: api

feat: update ci workflow
  .github/workflows/ci-service-for-all.yaml
Due: none

debug
  api/internal/user/infrastructure/repository/chat_test.go
Due: api

debug
  .github/workflows/ci-service-for-all.yaml
  api/pkg/test/database.go
  api/pkg/test/env.go
Due: api

debug
  .github/workflows/ci-service-for-all.yaml
Due: none

feat: setup firebase emulator
  api/internal/user/infrastructure/repository/chat_test.go
Due: api

fix: remove connection close
  api/internal/user/infrastructure/repository/chat_test.go
Due: api

refactor: ci workflow
  .github/workflows/ci-service-for-all.yaml
Due: none

feat: add grpc client options
  api/config/gateway/admin/environment.go
  api/config/gateway/native/environment.go
  api/go.mod
  api/go.sum
  api/internal/gateway/cmd/admin/exec.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/native/exec.go
  api/internal/gateway/cmd/native/registry.go
Due: api

fix: lint
  api/internal/gateway/cmd/native/registry.go
Due: api

chore: update package.json
  web/admin/yarn.lock
Due: admin

fix: UiContextをapp/context配下に移動する
  native/app/context/ui.tsx
  native/app/lib/context/index.ts
  native/app/lib/context/ui.ts
Due: native

fix: uiContextで影響する部分を修正
  native/App.tsx
  native/app/context/auth.tsx
  native/app/routes/index.tsx
Due: native

test: UiContextのテストを追加
  native/test/contexts/ui.test.tsx
Due: native

fix: 認証時のメモリリークのエラーに対処
  native/app/context/auth.tsx
Due: native

fix: UIコンテキストのテストを追加
  native/test/contexts/ui.test.tsx
Due: native

fix: importを修正
  native/app/context/index.ts
  native/app/screens/AccoutSetting.tsx
  native/app/screens/SignInSelect.tsx
Due: native

test: default値とunmount時にテストを追加
  native/test/contexts/auth.test.tsx
Due: native

chore: deprecatedの関数呼び出しに警告を出すlinterルールを追加
  native/package.json
  native/yarn.lock
Due: native

feat: linterの設定を追加
  native/.eslintrc.js
Due: native

test: userのテストケースを追加（適当なので次で修正）
  native/test/store/usecase/v2/user.test.ts
Due: native

settings: tsconfig.jsonを読み込まなかったので修正
  .vscode/settings.json
Due: none

Path conditions:
  native: any of: native/
  admin: any of: web/admin/
  api: any of: api/
  native-gateway: any of: api/gateway/native/
  admin-gateway: any of: api/gateway/admin/
  user-api: any of: api/server/user/
  book-api: any of: api/server/book/
